
Virtualizacion/.vs/Virtualizacion/v15/Server/sqlite3/db.lock
Virtualizacion/Virtualizacion/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Virtualizacion/.vs/Virtualizacion/v15/Server/sqlite3/storage.ide-wal
Virtualizacion/.vs/Virtualizacion/v15/Server/sqlite3/storage.ide-shm
Virtualizacion/.vs/Virtualizacion/v15/.suo
Virtualizacion/.vs/Virtualizacion/v15/.suo
Virtualizacion/.vs/Virtualizacion/v15/Server/sqlite3/storage.ide-shm
Virtualizacion/.vs/Virtualizacion/v15/Server/sqlite3/storage.ide-wal
