<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="MyConnection"
    connectionString="Server=tcp:grupo2-ulacit.database.windows.net,1433;Initial Catalog=DB_VIRTUALIZACION;Persist Security Info=False;User ID=Grupo02;Password=Ulacit2020.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>